@import '../../theme/constant/const';

.r_component_footer {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
